---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getBlogDetail, getBlogs } from "../libs/microcms";

export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

const { blogId } = Astro.params;

if (!blogId) {
  return "";
}

const blog = await getBlogDetail(blogId);
---

<BaseLayout>
  <section class="my-10 w-full grid place-items-center">
    <h1 class="mb-10 text-2xl">{blog.title}</h1>
    <article
      class="prose text-neutral-300 prose-pre:bg-neutral-700 prose-headings:text-neutral-300 prose-blockquote:text-neutral-300 prose-strong:text-neutral-300"
      set:html={blog.content}
    />
  </section>
</BaseLayout>
