---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getBlogs } from "../libs/microcms";

const res = await getBlogs({ fields: ["id", "title"] });
---

<BaseLayout>
  <ul>
    {
      res.contents.map((content) => (
        <li>
          <a href={content.id}>{content.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
