---
---

<header class="w-full h-14 px-4 flex items-center border-b border-neutral-500">
  <div class="w-full max-w-screen-xl mx-auto flex justify-between items-center">
    <a href="/" class="text-lg">Bonsai</a>
    <nav class="flex-1 ml-10 text-sm">
      <a
        href="https://portfolio-wheat-phi-51.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        my portfolio
      </a>
    </nav>
  </div>
</header>
