---
import "../libs/tailwind.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="w-screen h-screen grid grid-rows-layout bg-neutral-900 text-neutral-300 font-mono"
  >
    <Header />
    <main class="w-full max-w-screen-xl mx-auto px-6">
      <slot />
    </main>
    <Footer />
  </body>
</html>
